<% layout('layout') %>

<h1 style="text-align:center">Motion</h1>
<div class="row">
	<iframe id="player" style="display: block; width: 800px; height: 400px; margin: 0 auto; border: 0;" frameborder="0" ng-src="{{getVideo()}}"></iframe>
</div>
<div ng-cloak class="row" style="margin-top:10px">
     <div class="col-md-3" ng-repeat="clip in clips" ng-cloak>
 	<img class="thumbnail" ng-src="http://www.dailymotion.com/thumbnail/video/{{clip.id}}" ng-click="launchnewvid(clip.id)" style="max-width:328px; max-height: 248px;">
     </div>
</div>
